{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Application</title>
    <link rel="stylesheet" href="{% static 'clientes/css/inside.css' %}">
</head>

<body>
    <main id="main-holder">

        
        

        
        <div>
            
        
            <form  action="{% url 'update_user' %}" method="POST" id="login-form"> {% csrf_token %}
                <h1>Inside <strong>Code Users</strong></h1>

                {% if not del_user %}
                    <h2> Welcome {{ name }} </h2>
                {% else %}
                    <h2> Exiting ... </h2>
                {% endif %}
                
                
                <input type="text" name="email" id="email" class="login-form-field" placeholder="{{ email }}">
                <input type="text" name="number" id="number" class="login-form-field" placeholder="{{ number }}">
                <input type="password" name="pass" id="pass" class="login-form-field" placeholder="{{ pass }}">
                <button type="submit" id="login-form-submit"> Update informations </button>
               
            </form>
            
            <form  action="{% url 'del_user' %}" method="POST" id="login-form"> {% csrf_token %}

                <button type="submit" id="login-form-submit"> Delete account </button>
                
                {% if msg_status != "" %}
                    <p id="error">{{ msg_status }}</p>
                    
                {% endif %}

                {% if del_user %}
                    <meta  http-equiv="refresh" content="3"; url="{% url 'login' %}" >
                    
                {% endif %}
               
            </form>


            
        </div>

    </main>    
</body>
</html>