
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Application</title>
    <link rel="stylesheet" href="{% static 'clientes/css/inside.css' %}">
</head>

<body>
    <main id="main-holder">

        <h1>Inside <strong>Code Users</strong></h1>
        

        <div>
            <form  action="" method="POST" id="login-form"> {% csrf_token %}
                <input type="text" name="name" id="name" class="login-form-field" placeholder="Username">
                <input type="password" name="pass" id="pass" class="login-form-field" placeholder="Password">
                <button type="submit" id="login-form-submit"> OK </button>
                
                
            </form>


        </div>

    </main>    
</body>
</html>