{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Users</title>
    <link rel="stylesheet" href="{% static 'clientes/css/style.css' %}">
</head>
<body>

    <main id="main-holder">

        <h1>Login</h1>
        
        

        <div>
            <form  action="{% url 'login' %}" method="POST" id="login-form"> {% csrf_token %}
                <input type="text" name="name" id="name" class="login-form-field" placeholder="Username">
                <input type="password" name="pass" id="pass" class="login-form-field" placeholder="Password">
                <button type="submit" id="login-form-submit"> Log in </button>

                <a href="{% url 'create_user' %}">
                    <button  type="button" id="login-form-submit"> Create new account </button>
                </a>

                {% if error != "" %}
                    <p id="error">{{ error }}</p>
                    
                {% endif %}

            </form>


        </div>

    </main>

</body>
</html>